version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    container_name: juegos-backend

  frontend:
    build:
      context: ./frontend-axios-api
      dockerfile: Dockerfile
    ports:
      - "5173:4173"
    depends_on:
      - backend
    container_name: juegos-frontend
